body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
}

.home-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 5px #222;
}


.para-home{
    font-size: 28px;
    font-weight: 700;
}