body{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{

    background-color: rgb(255, 205, 67);
    box-shadow: 2px 1px 4px #222;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 205, 67);
    height: 100px;
    width: 100vw;
    font-weight: 700;
    gap: 8px;
}

.image{
    height: 400px;
}

a{
    text-decoration: none;
    color: #111;
}

a:hover{
    text-decoration: underline;
}

.linkedin{
    height: 32px;
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 18px;
    margin: 8px;
}

li {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    font-style: italic;
}

.home-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 1px 5px #222;
}

.para-home{
    font-size: 28px;
    font-weight: 700;
}